.todo-container {
    background-color: antiquewhite;
    color: black;
    font-family: sans-serif;
    margin: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.h2 {
    font-size: xx-large;
    letter-spacing: 1.5px;

}

.todo-add-section {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.todo-add-section input {
    border-style: dotted;
    background-color: coral;
    border-radius: 10px;
    border-image: fill;
    width: 700px;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    
}

.todo-add-section button{
    background-color: blueviolet;
    height: 55px;
    width: 80px;
    color: beige;
    
}

.todo-list-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    font-size: 24px;

}

.todo-list-section button{
    background-color: blueviolet;
    height: 55px;
    width: 120px;
    color: beige;
    
}